<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>Velkommen til Cha-IM LEARN. </h3> 
        <p> 
        Her finner du læringsressurser for Informasjonsteknologi og medieproduksjon og IT-1.
        </p>
<h3>Informasjonsteknologi og medieproduksjon vg1</h3>
<ul>
    <li><a href="note/Teknologiforståelse">Teknologiforståelse</a></li>
</ul>


<h3>Informasjonsteknologi vg2</h3>
<ul>
    <li>
        <a href="note/Utvikling">Utvikling</a>
        <li style="list-style-type: none;"><em>Ressursene i utvikling er også aktuelle for IT-1</em></li>
    </li>
</ul>

    Ressursene i utvikling er også aktuelle for IT-1
</div> </div>

