<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text">  
        <p> 
        Her finner du læringsressurser for Informasjonsteknologi og medieproduksjon og IT-1.
        </p>
<h3>Informasjonsteknologi og medieproduksjon vg1</h3>
<ul>
    <li><a href="note/Teknologiforståelse">Teknologiforståelse</a></li>
</ul>


<h3>Informasjonsteknologi vg2</h3>
<ul>
    <li>
        <a href="note/Utvikling">Utvikling</a>
        <li><em>Ressursene i utvikling er også aktuelle for IT-1</em></li>
    </li>
</ul>


</div> </div>

